/* base layout for all html pages */
html, body {
    margin: 0;
    padding: 0;
}

/* centered page layout */
    body.centered-layout {
        display: flex;
        justify-content: center; /* center horizontally */
        align-items: center; /* center vertically */
        min-height: 100vh; /* ensure it takes full viewport height */
        line-height: 1.25; 
    }

/* wordle title on cover page */
    .wordle-title {
        font-size: 65px;
        font-family: "Franklin Gothic Medium";
        text-align: center;
        line-height: .25; /* space between title and text below */
    }

/* wordle logo on cover page */
    .logo-container {
        display: block;
        margin: 0 auto 15px auto; /* centers image and adds space below */
    }

/* centering text on page */
    .centered-text {
        text-align: center;
        font-family: "Franklin Gothic";
        line-height: 1.25; /* space between lines of text */
    }    

/* adjustment to info on cover page */
    .cover-info {
        font-family: "Franklin Gothic";
        font-size: 18px;
        line-height: 1.4; /* space between lines of text */
        text-align: center;
        margin-top: 5px 0;
    }

/* buttons */
    .button-container {
        margin-top: 10px;
        display: flex;
        gap: 15px; /* space between buttons */
        justify-content: center; 
    }
         
    .menu-btn {
        background-color: #E3E3E1;
        font-family: "Franklin Gothic Medium";
        font-size: 20px;
        padding: 20px 46px;
        border: 1px solid black; 
        border-radius: 99px;
        cursor: pointer; 
        flex: 1; /* buttons take up same amount of space */
         min-width: 0;
        /* fix for subscribe button not being aligned */
        display: inline-flex;
         align-items: center; /* forces text to center */
         justify-content: center; /* removes extra space on sides of text */
         line-height: 1;
    }

    .play-btn {
        background-color: black;
         color: white;
        font-family: "Franklin Gothic Medium";
        font-size: 20px;
        padding: 20px 46px;
        border: 1px solid black; 
        border-radius: 99px;
        cursor: pointer; 
        flex: 1; /* buttons take up same amount of space */
        min-width: 0;
        /* fix for subscribe button not being aligned */
        display: inline-flex;
        align-items: center; /* forces text to center */
        justify-content: center; /* removes extra space on sides of text */
        line-height: 1;
    }

/* styling for login page */
    .email-box {
        width: 500px;
        margin: 0 auto; /* centers the box */
    }

    .email-box input {
        width: 100%;
        height: 50px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: white;
        box-sizing: border-box; /* ensures padding is included in width */
        font-family: "Franklin Gothic";
        font-size: 18px;
    }

    .email-box label {
        display: block; /* text onto own line above box */
        text-align: left;
        margin-bottom: 8px; /* space between text & box */
        font-size: 20px;
    }

    .cont-btn {
        background-color: black;
        color: white;
        font-family: "Franklin Gothic Medium";
        padding: 20px 15px;
        border: 1px solid black; 
        border-radius: 5px;
        cursor: pointer; 
        width: 500px;
    }

    /* keeps elements invisible */
    .hidden {
        display: none !important;
    }

    .label-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    #edit-email-btn {
        background: none;
        border: none;
        color: #ACAFB5;
        cursor: pointer;
        font-size: 13px;
        font-weight: bold;
        text-decoration: underline;
    }

    /* change email background to locked/unclickable */
    #email-input:disabled {
        background-color: #f1f1f1;
        color: #666;
        border-color: #ccc;
        cursor: not-allowed;
    }

    .highlighted-box {
        border: 2px solid black;
        outline: none;
        transition: border-width 0.1s ease; /* makes thickening look smooth */
    }

    .highlighted-box:focus {
        border:3px solid black; /* makes width thicker */
    }

    .error-msg-box {
        display: flex;
        align-items: center;
        gap: 8px;
        color: white;
        background-color: red;
        padding: 10px;
        border-radius: 4px;
        margin-top: 5px;
        font-family: sans-serif;
        font-size: 14px;
    }

    .error-icon {
        width: 18px;
        height: 18px;
        fill: red;
    }

    /* styling for game page */
    .three-lines-btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 6px; /* space between bars */
    }

    .bar {
        width: 30px;
        height: 4px;
        background-color: black; /* color of lines */
        border-radius: 2px;
        transition: 0.3 ease; /* smooth hover effect */
    }

    .three-lines-btn:hover .bar {
        background-color: #E6E9ED;
    }

    .three-lines-container {
        margin-top: 10px;
        display: flex;
        gap: 15px; /* space between buttons */
        justify-content: left; 
    }

    /* container bar at top */
    .top-section {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        border-bottom: 1px solid #e3e3e3;
        font-family: Arial, sans-serif;
        background-color: white;
    }

    .header-center {
        display: flex;
        gap: 16px;
        margin-left: auto; /* pushes the icons and everything after them to the far right */
    }

    .right-container {
        display: flex;
        margin-left: 25px;
    }

    /* transparent base button styles for icons */
    .nav-icon-btn {
        background: none;
        border: none;
        padding: 6px;
        cursor: pointer;
        color: black;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        transition: background-color 0.15s ease;
    }

    .nav-icon-btn:hover {
        background: #f4f4f4;
    }

    /* right-side button styling */
    .promo-btn {
        background-color: white;
        border: 1px solid black;
        color: black;
        padding: 10px 55px;
        font-size: 22px;
        font-weight: bold;
        border-radius: 25px;
        cursor: pointer;
        transition: opacity 0.2s ease;
    }

    .promo-btn:hover {
        opacity: 0.8;
    }

    /* statistics window */
    #statsWindowNoLogin {
        position: relative;
        border: none;
        border-radius: 25px;
        background: white;
        padding: 40px; /* makes content/buttons hit edges */
        width: 650px;
        max-width: 90vw;
        height: 820px;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05),
                    0 10px 30px -5px rgba(0, 0, 0, 0.1),
                    0 0 0 1px rgba(0, 0, 0, 0.02);
        font-family: Franklin Gothic;

        /* transition settings */
        transition:
        transform 0.35s ease-out, /* bounce effect */ 
        opacity 0.3s ease;
        transform: translateY(0);
        opacity: 1;
    }
    /* starting state before dialoge pops up */
    @starting-style {
        #statsWindowNoLogin[open] {
            transform: translateY(35px); /* start 50px lower on screen */
            opacity: 0; /* starts completely invisible */
        }
    }

    dialog::backdrop {
        /* background opacity change */
        background-color: rgba(240, 240, 240, 0.4);
        transition: background-color 0.3s ease;
    }

    @starting-style {
        dialog::backdrop {
            background-color: rgba(240, 240, 240, 0); /* fading in */
        }
    }

    .dialog-content {
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    /* styling x button to top-right corner */
    .close-x-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        background: none;
        border: none;
        font-size: 32px;
        font-weight: 300;
        line-height: 1;
        color: black;
        cursor: pointer;
        padding: 4px;
    }

    /* creating an account button in stats window */
    .cta-btn {
        background-color: black;
        color: white;
        border: none;
        border-radius: 30px;
        padding: 14px 32px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 24px;
        align-items: center;
    }

    /* how to play dialog window */
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    #howToPlay {
         position: relative;
        border: none;
        border-radius: 25px;
        background: white;
        padding: 40px; /* makes content/buttons hit edges */
        width: 600px;
        max-width: 90vw;
        height: 900px;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05),
                    0 10px 30px -5px rgba(0, 0, 0, 0.1),
                    0 0 0 1px rgba(0, 0, 0, 0.02);
        font-family: Franklin Gothic;
        line-height: 1.25;

        /* transition settings */
        transition:
        transform 0.35s ease-out, /* bounce effect */ 
        opacity 0.3s ease;
        transform: translateY(0);
        opacity: 1;
    }
    /* starting state before dialoge pops up */
    @starting-style {
        #howToPlay[open] {
            transform: translateY(35px); /* start 50px lower on screen */
            opacity: 0; /* starts completely invisible */
        }
    }

    dialog::backdrop {
        /* background opacity change */
        background-color: rgba(240, 240, 240, 0.4);
        transition: background-color 0.3s ease;
    }

    @starting-style {
        dialog::backdrop {
            background-color: rgba(240, 240, 240, 0); /* fading in */
        }
    }

    /* dropdown menu from help button */
    .dropdown-content {
        display: none; /* hidden by default */
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
        z-index: 1; /* floats above other content */
    }

    /* style links */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    /* toggle class */
    .show {
        display: block;
    }

    .dropdown-content a {
        display: flex;
        justify-content: space-between; /* pushes arrow to far right */
        padding: 10px 15px;
        align-items: center;
        text-decoration: none;
        color: black;
        font-family: sans-serif;
    }

    .arrow {
        font-size: 20px;
        color: black;
        margin-left: 8px; /* prevent arrow from touching letters */

    }

    /* how to play font changes */
    h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Black', sans-serif;
    }

    p, li {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        font-weight: 400; /* light weight */
        line-height: 1.5;
    }

    /* example boxes */
    .word-row {
        display: flex;
        gap: 5px; /* space between letter boxes */
        margin-bottom: 15px;
        perspective: 1000px;
    }

    /* base styling for every box */
    .letter-box {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 58px;
        height: 58px; 
        border: 2px solid #d3d6da;
        font-family: 'Franklin Gothic Medium';
        font-size: 32px;
        text-transform: uppercase;

        /* flipping animation */
        transform-style: preserve-3d;
        backface-visibility: hidden;
    }

    .flip-in {
        animation: flipTile 0.6s ease-in-out forwards;
    }

    @keyframes flipTile {
        0% {
            transform: rotateX(0deg);
            /* keeps grey at start */
            background-color: transparent;
            border-color: #d3d6da;
            color: black;
        }
        49% {
            /* grey until turns sideways */
            background-color: transparent;
            border-color: #d3d6da;
            color: black;
        }
        50% {
            transform: rotateX(180deg);
            background-color: #6aaa64;
            color: white;
        }
    }

    /* correct letter in right place */
    .letter-box.correct {
        background-color: #6aaa64;
        color: white;
        border-color: #6aaa64;
    }

    /* letter is present */
    .letter-box.present {
        background-color: #cab55a;
        color: white;
        border-color: #cab55a;
    }

    /* letter is not present */
    .letter-box.wrong {
        background-color: #787c7e;
        color: white;
        border-color: #787c7e;
    }

    .media-container {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 20px;
    }

    .media-container img {
        width: 65px;
        height: auto;
    }

    /* how to play header */
    .htp-header {
        border-bottom: 1px solid #d3d6da;
        padding-bottom: 10px; /* space between text & line */
        margin-bottom: 10px; /* space below line */
    }